@font-face
{
    font-family: 'SuperPolice';
    src: url(SuperPolice.ttf);
}

body
{
    background-image: url("grizzly.png");
    font-family: 'SuperPolice';
}

img
{
    float: right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

#liseré, #contenu
{
    display: inline-block;
    vertical-align: top;
}

#liseré
{
    width: 20%;
    margin-right: 4%;
    height: 885px;
    background-color: #b822ce;
    border-radius: 10px;
    text-align: center;
}

#contenu
{
    width: 75%;
}

.contact {
    margin-top: 144px;
}

.contact h2 {
    color: whitesmoke;
}

.contact h4 {
 font-size: 18px;
}

.contact p {
    margin-top: -10px;
}

.contact div {
    padding-top: 5px;
}

.linkedin {
    display: inline;

}

.linkedin img {
    float: left;
    height: 30px;
    margin-top: -5px;
    margin-left: 20px;
}

.linkedin a {
    margin-left: -41px;
    color: black;
}

.linkedin a:hover {
    color: whitesmoke;
}

.contenu-cv {
    margin-top: 40px;
}

/*.intro
{
    color: #E13A1B;
}*/

.positionnement-etudes {
    padding-bottom: 17px;
}

.positionnement-etudes.etude-1 {
    margin-top: -20px;
}

.positionnement-etudes.annee {
    margin-left: 15px;
}

.positionnement-etudes p {
    margin-bottom: -12px;
}

h1
{
    text-align: center;
    font-size: 1.75em;
}

h2
{
    color: #ba4bd8;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin-right: 2%;
}

strong
{
    text-shadow: 1px 1px 2px #ee7ffe;
}

a {
    text-decoration: none;
    color: #b822ce;
}

a:hover {
    color: #087cdf;
}

.alignement {
    margin-top: 29px;
}